node_modules
npm-debug.log*
.git
.github
.env
.env.*
!.env.example
config.json
data/workspaces
.history
legacy
docs/images
*.md
!README.md
ssh
docker-compose.override.yml
Dockerfile
docker-compose*.yml
